.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
  margin-bottom: 10px;
  width: 60%;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

.demolink {
  color: #329FD9;
  cursor: pointer;
}

.divInput {
  margin-top: 10px;
}

.divInput span {
  color: #cacaca;
  font-size: 16px;
  margin-right: 15px;
}

.input {
  width: 40%;
  height: 27px;
  line-height: 27px;
  padding: 2px 5px;
  border: 1px solid #cacaca;
  border-radius: 2px;
  outline: none;
  font-size: 16px;
  color: #cacaca;
}

.input:focus {
  border: 1px solid #FF7F27;
  outline: none;
}

.margin-right {
  margin-left: 14px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.tinymce {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  border-right: 0 none #e6e6e6;
  border-top: 0 none #e6e6e6;
  border-bottom: 0 none #b3b3b3;
  padding: 0 20px;
  margin-bottom: 0;
  font-size: 14px;
  height: 37px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px #0F79B2;
  text-decoration: none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  zoom: 1;
  outline: none;
}

.btnblue {
  background: #329FD9;
  background: -moz-linear-gradient(top, #3BACE5 0%, #2594CD 100%);
  background: -webkit-linear-gradient(top, #3BACE5 0%, #2594CD 100%);
  border: 1px solid #329FD9;
  margin-right: 16px;
}

.visiable {
  display: block!important;
}

.hidden {
  display: none;
}


/* start draft-js css */

.backRed {
  color: 'rgba(255, 0, 0, 1.0)'!important;
}

.backOrange {
  color: 'rgba(255, 127, 0, 1.0)'!important;
}

.backYellow {
  color: 'rgba(180, 180, 0, 1.0)'!important;
}

.backGreen {
  color: 'rgba(0, 180, 0, 1.0)'!important;
}

.backBlue {
  color: 'rgba(0, 0, 255, 1.0)'!important;
}

.backIndigo {
  color: 'rgba(75, 0, 130, 1.0)'!important;
}

.backViolet {
  color: 'rgba(127, 0, 255, 1.0)'!important;
}


/* end draft-js css */